@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400;500;700&family=Oswald:wght@300;400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Oswald', 'Anton', sans-serif;
  --font-body: 'Inter', sans-serif;
}
